.edit{
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.editing{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
