/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.buttons button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    background-color:lightgreen;
    border-radius: 5px;
}

nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    width: 100vw;
}

.filter {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.filter p {
    margin-right: 50px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.product-table th {
    background-color: #f2f2f2;
}

.title, .price{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description {
    max-width: 300px;
    overflow-wrap: normal;
}

.title {
    font-weight: bold;
}

.price {
    color: #008000; /* Green color for price */
}

img{
    height: 30px;
}

/* Responsive design */
@media (max-width: 600px) {
    .navbar button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}
